<h2>Depression Test (PHQ-9)</h2>
<form method="POST" action="/submit_depressiontest">
    <label for="question1">1. How often have you had little interest or pleasure in doing things?</label><br>
    <input type="radio" name="question1" value="0"> Never<br>
    <input type="radio" name="question1" value="1"> Several days<br>
    <input type="radio" name="question1" value="2"> More than half the days<br>
    <input type="radio" name="question1" value="3"> Nearly every day<br><br>

    <label for="question2">2. How often have you felt tired or had little energy?</label><br>
    <input type="radio" name="question2" value="0"> Never<br>
    <input type="radio" name="question2" value="1"> Several days<br>
    <input type="radio" name="question2" value="2"> More than half the days<br>
    <input type="radio" name="question2" value="3"> Nearly every day<br><br>

    <label for="question3">3. How often have you had trouble sleeping or sleeping too much?</label><br>
    <input type="radio" name="question3" value="0"> Never<br>
    <input type="radio" name="question3" value="1"> Several days<br>
    <input type="radio" name="question3" value="2"> More than half the days<br>
    <input type="radio" name="question3" value="3"> Nearly every day<br><br>

    <label for="question4">4. How often have you felt down, depressed, or hopeless?</label><br>
    <input type="radio" name="question4" value="0"> Never<br>
    <input type="radio" name="question4" value="1"> Several days<br>
    <input type="radio" name="question4" value="2"> More than half the days<br>
    <input type="radio" name="question4" value="3"> Nearly every day<br><br>

    <label for="question5">5. How often have you had thoughts that you would be better off dead, or of hurting yourself?</label><br>
    <input type="radio" name="question5" value="0"> Never<br>
    <input type="radio" name="question5" value="1"> Several days<br>
    <input type="radio" name="question5" value="2"> More than half the days<br>
    <input type="radio" name="question5" value="3"> Nearly every day<br><br>

    <button type="submit">Submit</button>
</form>

<h3>Feedback:</h3>
<p>If you answered "several days" or "more than half the days" to many of the questions, it could indicate depression. We recommend consulting a mental health professional.</p>
